.mood-diary {
  height: 300px;
  position: relative;
  display: flex;
  padding: 16px;
  padding-bottom: 64px;
  background-color: var(--white-5);
  backdrop-filter: blur(var(--blur-size));
  box-shadow: inset 0 1px 2px 0 var(--white-50), 0 0 10px 0 var(--glow-color);
}

.mood-diary__x {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
  height: 50px;
}

.mood-diary__hint {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 256px;
}