.exercise__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--space-md);
}

.exercise__container {
  border-radius: 50%;
  box-shadow: inset 0 1px 2px 0 var(--white-50), 0 0 10px 0 var(--glow-color);
  background-color: var(--white-5);
  backdrop-filter: blur(var(--blur-size));
  aspect-ratio: 1 / 1;
  height: 300px;
  width: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exercise__image {
  height: 150px;
  width: 150px;
}

.exercise__buttons {
  display: flex;
  gap: var(--space-xs);
  padding: var(--space-sm);
  justify-content: center;
  width: 100%;
}

.exercise__button {
  width: var(--icon-md);
  height: var(--icon-lg);
}

.exercise__description {
  margin-bottom: var(--space-sm);
}