.note-list__title {
  font-size: var(--font-lg);
  white-space: normal;
  /* чтобы переносился */
  overflow: visible;
  text-overflow: unset;
  max-width: none;
  border-radius: 0;
  margin-bottom: var(--space-xs);
}