.appointment {
  padding-bottom: var(--space-md);
}

.appointment__inner {
  padding-bottom: 24px;
  background-color: var(--white-5);
  backdrop-filter: blur(var(--blur-size));
  box-shadow: inset 0 1px 2px 0 var(--white-50), 0 0 10px 0 var(--glow-color);
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-sm);
}

.appointment__info {
  line-height: 115%;
}