.timer {
  height: 100vmin;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer__description {
  font-size: var(--font-lg);
  margin-bottom: var(--space-sm);
}

.timer__count {
  font-size: var(--font-xxxl);
  line-height: 100%;
}