.note-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.note-list__item {
  display: flex;
  background-color: var(--white-5);
  backdrop-filter: blur(var(--blur-size));
  border-radius: var(--radius-sm);
  box-shadow: inset 0 1px 2px 0 var(--white-50), 0 0 10px 0 var(--glow-color);
  padding: var(--space-sm);
  align-items: center;
  justify-content: space-between;
}

.note-list__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  justify-content: end;
}

.note-list__title {
  font-size: var(--font-lg);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  border-radius: 0;
  margin-bottom: var(--space-xs);
}

.note-list__date {
  font-size: var(--font-sm);
  color: var(--white-80);
}