body {
  background-image: url("../assets/images/nightSky.png");
  color: var(--white);
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  border-radius: var(--radius-sm);
  color: var(--white);
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

button img {
  display: block;
  line-height: 0;
}

a {
  text-decoration: none;
}