@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Medium.woff2) format("woff2"),
    url(../assets/fonts/Montserrat-Medium.woff) format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-SemiBold.woff2) format("woff2"),
    url(../assets/fonts/Montserrat-SemiBold.woff) format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}