.wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
  border-left: 1px solid #2b2b2b;
  border-right: 1px solid #2b2b2b;
  padding-top: var(--space-sm);
  padding-bottom: 140px;
}

.container {
  padding: 0 var(--space-sm);
}