:root {
  --white: #F2F2F2;
  --black: #010101;
  --white-50: #F2F2F250;
  --white-5: #F2F2F208;
  --glow-color: rgba(182, 173, 255, 0.4);
  --glass-active: rgba(255, 255, 255, 0.3);
  --inset-shadow: rgba(0, 0, 0, 0.25);

  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 40px;

  --radius-sm: 10px;

  --blur-size: 2px;

  --font-base: 16px;
  --font-small: 14px;
  --font-xs: 10px;

  --icon-sm: 24px;
  --icon-md: 48px;
  --icon-lg: 64px;

  --nav-btn-size: 94px;
}