.diaries-menu__inner {
  display: flex;
  gap: var(--space-sm);
  width: 100%;
}

.diaries-menu__left>a {
  width: 100%;
  display: block;
}

.diaries-menu__left,
.diaries-menu__right {
  display: grid;
  gap: var(--space-sm);
  flex: 1;
}

.diaries-menu__left {
  grid-template-rows: 65px 80px;
}

.diaries-menu__right {
  grid-template-rows: 80px 65px;
}

.diaries-menu {
  padding-top: var(--space-md);
}