.account__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.account__info {
  padding: var(--space-sm);
  background-color: var(--white-5);
  backdrop-filter: blur(var(--blur-size));
  box-shadow: inset 0 1px 2px 0 var(--white-50), 0 0 10px 0 var(--glow-color);
  border-radius: var(--radius-sm);
  border: none;
}

.account__info::placeholder {
  color: var(--white-80);
}