.breathing__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.breathing__end-text {
  font-size: var(--font-lg);
  display: block;
  margin-top: var(--space-md);
}

.breathing__end-image {
  height: 100%;
  width: 100%;
  padding: 100px;
}

.breathing__end-image img {
  height: 100%;
  width: 100%;
}

.breathing__action {
  text-align: center;
  font-size: var(--font-xl);
  margin-top: var(--space-lg);
  margin-bottom: var(--space-md);
}

.breathing__count {
  margin-top: var(--space-sm);
}

.breathing__buttons {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  align-items: center;
  justify-content: center;
  width: 100%;
}



.parabola-container {
  border-radius: 50%;
  box-shadow: inset 0 1px 2px 0 var(--white-50), 0 0 10px 0 var(--glow-color);
  background-color: var(--white-5);
  backdrop-filter: blur(var(--blur-size));
  aspect-ratio: 1 / 1 !important;
  height: 300px;
  width: 300px;
  overflow: hidden;
}

.parabola {
  fill: none;
  stroke: var(--white-80);
  stroke-width: 2;
  animation: parabolaAnimation 66s 1;
}

.parabola-svg {
  height: 100%;
  width: 100%;
}

@keyframes parabolaAnimation {
  0% {
    d: path("M0,150 Q150,300 300,150");
  }

  6.06% {
    d: path("M0,150 Q150,0 300,150");
  }

  6.06%, 12.12% {
    d: path("M0,150 Q150,0 300,150");
  }

  12.12% {
    d: path("M0,150 Q150,0 300,150");
  }

  18.18% {
    d: path("M0,150 Q150,300 300,150");
  }

  18.18%, 24.24% {
    d: path("M0,150 Q150,300 300,150");
  }

  24.24% {
    d: path("M0,150 Q150,300 300,150");
  }

  30.30% {
    d: path("M0,150 Q150,0 300,150");
  }

  30.30%, 36.36% {
    d: path("M0,150 Q150,0 300,150");
  }

  36.36% {
    d: path("M0,150 Q150,0 300,150");
  }

  42.42% {
    d: path("M0,150 Q150,300 300,150");
  }

  42.42%, 48.48% {
    d: path("M0,150 Q150,300 300,150");
  }

  48.48% {
    d: path("M0,150 Q150,300 300,150");
  }

  54.54% {
    d: path("M0,150 Q150,0 300,150");
  }

  54.54%, 60.60% {
    d: path("M0,150 Q150,0 300,150");
  }

  60.60% {
    d: path("M0,150 Q150,0 300,150");
  }

  66.66% {
    d: path("M0,150 Q150,300 300,150");
  }

  66.66%, 72.72% {
    d: path("M0,150 Q150,300 300,150");
  }

  72.72% {
    d: path("M0,150 Q150,300 300,150");
  }

  78.78% {
    d: path("M0,150 Q150,0 300,150");
  }

  78.78%, 84.84% {
    d: path("M0,150 Q150,0 300,150");
  }

  84.84% {
    d: path("M0,150 Q150,0 300,150");
  }

  90.90% {
    d: path("M0,150 Q150,300 300,150");
  }

  90.90%, 96.96% {
    d: path("M0,150 Q150,300 300,150");
  }

  96.96%, 100% {
    d: path("M0,150 Q150,150 300,150");
  }
}