.settings {
  position: fixed;
  z-index: 1000;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black-90);
  backdrop-filter: blur(15px);
}

.settings__inner {
  background-color: var(--white-5);
  backdrop-filter: blur(var(--blur-size));
  box-shadow: inset 0 1px 2px 0 var(--white-50), 0 0 10px 0 var(--glow-color);
  border-radius: var(--radius-sm);
  padding: var(--space-lg);
}

.settings__title {
  font-size: var(--font-lg);
  margin-bottom: var(--space-md);
  text-align: center;
}

.settings__options {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  margin-bottom: var(--space-md);
}

.settings__options-item {
  padding-left: calc(var(--icon-sm) + var(--space-xs));
  position: relative;
}

.settings__options-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: var(--icon-sm);
  height: var(--icon-sm);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.settings__options-item:first-child::before {
  background-image: url("../../../public/icons/question.svg");
}

.settings__options-item:nth-child(2)::before {
  background-image: url("../../../public/icons/operator.svg");
}

.settings__options-item:nth-child(3)::before {
  background-image: url("../../../public/icons/user.svg");
}

.change-theme-button {
  box-shadow: inset 0 1px 2px 0 var(--white-50), 0 0 10px 0 var(--glow-color);
  border-radius: var(--radius-sm);
  padding: var(--space-xs);
  background-color: var(--white-5);
  justify-content: center;
  align-items: center;
  padding: var(--space-sm);
  width: 100%;
  height: 48px;
}

.change-theme-button--light::before {}

.change-theme-button--dark::before {}

.settings__close-btn {
  position: absolute;
  right: var(--space-sm);
  top: var(--space-sm);
}